<div class="card dashboard">
    <div class="card-header">
        Admin Dashboard
    </div>
    <div class="row row-cols-1 row-cols-md-2" style="padding: 10px;">
        <div class="col mb-2">
            <div class="card">
                <div class="card-header">
                    Records
                </div>
                <div class="card-body">
                    <ul>
                        <button type="button" class="btn btn-secondary">Create Record</button>
                    </ul>
                    <ul>
                        <button type="button" class="btn btn-secondary">Manage Records</button>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col mb-2">
            <div class="card">
                <div class="card-header">
                    Departments
                </div>
                <div class="card-body">
                    <ul>
                        <a href="/api/v2/department/create" class="btn btn-primary">Create Department</a>
                    </ul>
                    <ul>
                        <a href="/api/v2/department/update" class="btn btn-primary">Update Departments</a>
                    </ul>
                    <ul>
                        <a href="/api/v2/department/delete" class="btn btn-primary">Delete Departments</a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col mb-2">
            <div class="card">
                <div class="card-header">
                    Patients
                </div>
                <div class="card-body">
                    <ul>
                        <a href="/api/v2/patient/create" class="btn btn-primary">Create Patient</a>
                    </ul>
                    <ul>
                        <a href="/api/v2/patient/update" class="btn btn-warning">Manage Patient</a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col mb-2">
            <div class="card">
                <div class="card-header">
                    Users
                </div>
                <div class="card-body">
                    <ul>
                        <a href="/api/v2/admin/create" class="btn btn-primary">Create
                            User</a>
                    </ul>
                    <ul>
                        <a href="/api/v2/admin/update" class="btn btn-primary">Manage User</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .dashboard {
        margin: auto;
        padding: 0px;
        width: 70%;
    }

    @media only screen and (max-width: 600px) {
        .dashboard {
            width: 100%;
            margin: auto;
            padding: 0px;
        }
    }
</style>