<h1>Admin Dashboard</h1>
<ul>
    <li>
        <a href="/api/v2/patient/create">New Patient</a>
        <br />
        <a href="/api/v2/patient/update">Manage Patients</a>
    </li>
    <li>
        <a href="/api/v2/department/create">New Department</a>
        <br />
        <a href="/api/v2/department/update">Manage Departments</a>
    </li>
    <li>
        <a href="/api/v2/admin/create">New Controller/Admin</a>
        <br />
        <a href="/api/v2/admin/update">Manage Controller's/Admin</a>
    </li>
    <li>
        <a href="/api/v2/record/create">Create Record for patient</a>
        <br />
        <a href="/api/v2/record/update">Manage Records for patient</a>
    </li>
</ul>