<h1>New Department</h1>
{{#if error}}
<li>
    <div>
        {{!-- Danger Alert --}}
        <h3>Error</h3>
        <p>{{error}}</p>
    </div>
</li>
{{/if}}

{{#if success}}
<li>
    <div>
        {{!-- Success Alert --}}
        <h3>Success</h3>
        <p>{{success}}</p>
    </div>
</li>
{{/if}}

<form action="/api/v2/department/create" method="POST">
    <ul>
        <li><a href="/api/v2/deparrtment/create">New Department </a></li>
        <li><a href="/api/v2/department/update">Update Departments</a></li>
        <li><a href="/api/v2/department/delete">Delete Departments</a></li>
        <li>
            <label for="name">Department Name</label>
            <input type="text" name="name" id="name" required />
        </li>
        <li>
            <button type="submit">Submit</button>
        </li>
    </ul>
</form>