<form action="/api/v2/department/create" method="POST">
    <ul>
        <li>
            <label for="name">Department Name</label>
            <input type="text" name="name" id="name" required />
        </li>
        <li>
            <button type="submit">Submit</button>
        </li>
    </ul>
</form>