<form action="/api/v2/auth/login" method="POST">
    <ul>
        <li>
            <label for="email">Email</label><br />
            <input type="email" name="email" id="email" />
        </li>
        <li>
            <label for="password">Password</label><br />
            <input type="password" name="password" id="password" />
        </li>
        <li>
            <input type="submit" value="submit" />
        </li>
    </ul>
</form>