<ul>
    <h1> You are now logged out!</h1>

    {{#if error}}
    <li>
        <div>
            {{!-- Danger Alert --}}
            <h3>Error</h3>
            <p>{{error}}</p>
        </div>
    </li>
    {{/if}}

    <li>
        <a href="/">Home?</a>
    </li>
    <li>
        <a href="/api/v2/auth/login">Login?</a>
    </li>
</ul>