<li id="behaviour_generator" hidden>
    <label for="behaviour_prompt">Behaviour Prompt</label><br />
    <input type="text" name="behaviour_prompt" placeholder="" id="behaviour_prompt" required />
    <br />
    <label for="behaviour_question_type">Question Type</label>
    <br />
    <select name="behaviour_question_type" id="behaviour_question_type" required>
        <option value="" selected disabled> </option>
        <option value="counter">Counter</option>
        <option value="true_or_false">True or False</option>
    </select>
    <button type="button" onclick="remove_behaviour(this)">
        Remove Element
    </button>
</li>

<form action="/api/v1/patients/new" method="POST">
    <ul id="new_patient">
        <li>
            <label for="first_name">First Name</label><br />
            <input type="text" name="first_name" id="first_name" required />
        </li>
        <li>
            <label for="last_name">Last Name</label><br />
            <input type="text" name="last_name" id="last_name" required />
        </li>
    </ul>
    <button type="button" onclick="add_behaviour();">
        Add Behaviour
    </button>
    <button type="submit">Submit</button>
</form>

<script>
    function add_behaviour() {
        var behaviour_generator = document.getElementById(
            "behaviour_generator"
        );

        var dupe = behaviour_generator.cloneNode(true);
        dupe.hidden = false;

        document.getElementById("new_patient").appendChild(dupe);
    }

    function remove_behaviour(element) {
        element.parentNode.parentNode.removeChild(element.parentNode);
    }

    alert(document.cookie);
</script>