<div class="card dashboard">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/api/v2/admin/create">New User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/api/v2/admin/update">Manage Users</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        {{#my_users}}
        <div class="form-row">
            <div class="col-10">
                <input type="text" class="form-control" id="{{_id}}" value="{{first_name}} {{last_name}}" disabled>
            </div>
            <div class="col">
                <span onclick="remove(this);" class="form-control text-center btn-danger">Delete</span>
                <br>
            </div>
            <br>
        </div>
        {{/my_users}}
    </div>
    <br>
    <br>
    <script>
        function remove(element) {
            if (confirm("Are you sure you want to delete this user?")) {
                document.location.href =
                    "/api/v2/admin/delete/" +
                    element.parentElement.parentElement.firstElementChild.firstElementChild.id
            }
        }
    </script>
</div>

<style>
    .dashboard {
        margin: auto;
        padding: 0px;
        width: 70%;
    }

    @media only screen and (max-width: 600px) {
        .dashboard {
            width: 100%;
            margin: auto;
            padding: 0px;
        }
    }
</style>